<div class="form-group">
  <label for="item">Todo Item</label>
  <input #item
         class="form-control">
  <button (click)="addItem(item)"
          class="btn btn-success">Add Item</button>
</div>
<div>
  <ul class="list-unstyled">
    <li class="alert alert-info"
        *ngFor="let thingy of items"
        (click)="markComplete(thingy)">
      <button *ngIf="!thingy.complete"
              class="btn btn-small btn-danger">X</button>
      <span [ngClass]="{'completed-item':thingy.complete}">
        {{thingy.description}}
      </span>
    </li>
  </ul>
  <button *ngIf="hasCompletedItems"
          (click)="clearCompletedItems()"
          class="btn btn-danger">Clear Completed Items</button>
</div>
