<div class="form-group">
  <label for="billAmount">Amount of Bill</label>
  <input type="number"
         #amount
         (keyup)="calculateTip(amount.valueAsNumber)"
         class="form-control">
</div>



<div class="btn-group"
     role="group"
     aria-label="Basic example">
  <button type="button"
          [disabled]="tipPercentage === .10"
          (click)="changeTipAmount(.10)"
          class="btn btn-primary">10%</button>
  <button type="button"
          [disabled]="tipPercentage === .15"
          (click)="changeTipAmount(.15)"
          class="btn btn-primary">15%</button>
  <button type="button"
          [disabled]="tipPercentage === .20"
          (click)="changeTipAmount(.20)"
          class="btn btn-primary">20%</button>
  <button type="button"
          [disabled]="tipPercentage === .25"
          (click)="changeTipAmount(.25)"
          class="btn btn-primary">25%</button>
</div>
<ul class="list-group">
  <li class="list-group-item">Bill Amount: <span>{{billAmount | currency}}</span></li>
  <li class="list-group-item">Tip Percentage: <span>{{tipPercentage | percent}}</span></li>
  <li class="list-group-item">Amount to Tip: <span>{{tipAmount | currency}}</span></li>
  <li class="list-group-item">Total To Be Paid: <span>{{total | currency}}</span></li>
</ul>
